<section class="profile">
  <div class="profile-div">
    <div class="profile__image-wrapper">
      {% EleventyImage "/images/profile.jpg", "Leanne Fischler", "(min-width: 16em) 50vw, 100vw" %}
    </div>
    <div class="profile__card">
      <h2 class="profile__text profile__text--lead">I’m a researcher and creative based in the Orkney Isles. </h2>
      <p class="profile__text">My work explores the social impacts of emerging technologies; and considers ways that we can make these technologies work for us.</p>
    
    </div>
  </div>
</section
