/* CSS Variables */
:root {
  --slate-tinted: #f3f5f7;
  --slate-300: #cbd5e1;
  --slate-600: #475569;
  --amber-100: #fef3c7;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* CSS Normalization */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto Mono";
  display: flex;
  flex-direction: column;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Classes */

.app-container { /* Define a grid container for the whole page */
  display: grid;
  grid-template-columns: auto 1fr; /* The first column is for the navigation, the second column is for the main content */
  grid-gap: 1rem; /* Add some space between the columns */
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  min-height: 100vh;
}

.content-container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 2rem;
}

.content {
  flex: 1 0 auto;
}

.text-center {
  text-align: center;
}

.sidebar {
  align-items: start;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  flex: 1 1 0;
  max-width: 300px;
	padding: 2rem;
}

:where([role="list"]) { /* Navigation */
  list-style: none;
  padding-inline-start: 0;
}

.nav-list {
  user-select: none;
}

.nav-list a {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--amber-700);
  text-decoration: none;
  display: block;
}

.nav-list summary { /*for an item with a dropdown*/
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--amber-700);
}

.nav-list details[open] > summary {
  font-weight: 600;
}

.nav-list summary::-webkit-details-marker {
  display: none;
}

.nav-list a:hover,
.nav-list a[aria-current="page"],
.nav-list summary:hover,
.nav-list .is-active summary {
  color: var(--slate-600);
}

.nav-list details > [role="list"] {
  padding-inline-start: .75rem;
}

.nav-list > li,
.nav-list .is-active summary {
  position: relative;
}

.nav-list > li > a[aria-current="page"]:before,
.nav-list .is-active summary:before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  inset-inline-start: -2rem;
  inset-block-start: 0;
  inset-block-end: 0;
}

/* Header Styles */

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.header__title {
  position: relative;
  margin-bottom: 1rem;
  color: var(--amber-600);
}

.footer {
  grid-column: 1 / -1; /* Make the footer span across both columns */
  flex-shrink: 0;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 0.6rem; /* Adjust the project body font size as needed */
  color: var(--slate-300);
}

.heading--main {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--amber-600);
}

/* Profile Styles */
.profile {
  display: flex;
  flex-direction: column;
}

.profile__image-wrapper picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile__image-wrapper img {
  width: 250px;
  height: 250px;
  border-radius: 9999px;
}

.profile__card {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  flex: 1;
}

.profile__text {
  margin-bottom: 1rem;
  color: var(--slate-600);
}

.profile__text--lead {
  font-weight: 500;
  font-size: 1.5rem;
}

.profile__text--highlight {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--amber-600);
}

.profile__text--emphasis {
  font-weight: bold;
  font-size: 1.125rem;
}

.profile__link {
  font-weight: bold;
  text-decoration: underline;
}

/* Technologies Styles */

.technologies__heading {
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--slate-600);
}

.technologies__list {
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 1.5rem;
}

.technologies__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.technologies__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  margin-bottom: 0.5rem;
}

.technologies__title {
  font-weight: 400;
  color: var(--slate-600);
}

/* Project Styles */

.projects {
  margin: 4rem auto 4rem auto;
}

.projects__heading {
  margin-bottom: 2rem;
  font-size: 2.0rem;
  font-weight: 700;
  text-align: center;
  color: var(--slate-600);
}

.project__heading {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--slate-600);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  border: 1px solid #000; /* Thin black border */
  overflow: hidden;
}

.project-card__image-wrapper img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease 0s;
}

.project-card__image-wrapper:hover img {
  transform: scale(1.05);
}

.project-card__body {
  padding: 1rem;
  font-size: 0.8rem; /* Adjust the project body font size as needed */
}

.project-card__title {
  margin-bottom: 1rem;
  font-size: 1.0rem;
  font-weight: 600;
}

.project-card__title:hover {
  text-decoration: underline;
}

.project-card__tags {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.project-card__tag {
  display: flex;
  padding: 0.25rem 0.5rem;
  /* border-radius: 9999px; */
  font-size: 0.7rem;
  background-color: var(--slate-tinted);
  color: var(--slate-600);
}

.project-card__summary {
  margin-bottom: 1rem;
  color: var(--slate-600);
}

.project-card__link {
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  color: var(--slate-600);
}

.project-card__link-icon {
  width: 20px;
  height: 20px;
}

.project-card__link:hover {
  text-decoration: underline;
}

/* Project Page Styles */

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 42rem;
  margin: 0 auto 4rem auto;
}

.project {
  margin-bottom: 4rem;
}

.project__image-wrapper {
  margin-bottom: 1.5rem;
}

.project__image-wrapper img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
}

/* Prose Styles */

.prose {
  font-size: 1.0rem;
  color: var(--slate-600);
}

.prose h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--amber-600);
}

.prose ul {
  margin-bottom: 1rem;
}

.prose ul > li {
  position: relative;
  padding-left: 1.75em;
}

.prose ul > li::before {
  content: "";
  position: absolute;
  width: 0.375em;
  height: 0.375em;
  top: 0.6875em;
  left: 0.25em;
  border-radius: 50%;
  background-color: var(--slate-600);
}

.prose p {
  margin-bottom: 1.25rem;
}

/* About Styles */

.bio {
  margin: 0 auto 4rem auto;
  max-width: 65ch;
}

/* Contact Styles */

.contact__sub-heading {
  padding: 0 1rem;
  color: var(--slate-600);
}

.form {
  max-width: 36rem;
  margin: 4rem auto;
  border-radius: 0.25rem;
}

.form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.form__input {
  display: block;
  border: 1px solid var(--slate-300);
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: var(--slate-600);
}

.form__button {
  display: block;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--amber-600);
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: var(--amber-600);
}

@media (min-width: 640px) {
  .header__title {
    margin-bottom: 0;
  }

  .profile {
    flex-direction: row;
  }

  .profile__image-wrapper img {
    margin: 4rem;
  }
}

/* Use a media query to make the layout responsive for smaller screens */
@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr; /* Use only one column for smaller screens */
  }

  .nav-list {
    display: none; /* Hide the navigation list by default */
  }

  .nav-list.show {
    display: flex; /* Show the navigation list when toggled */
    flex-direction: column; /* Make the navigation list vertical */
    align-items: center; /* Center the navigation items horizontally */
    gap: 1rem; /* Add some space between the navigation items */
  }

  .nav-toggle {
    display: block; /* Show a button to toggle the navigation list */
    padding: 0.5rem; /* Add some padding around the button */
    background-color: lightgray; /* Add a background color to the button */
    border: none; /* Remove the default border */
    cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
  }
}