---
title: "About Leanne Fischler"
layout: "base.njk"
eleventyNavigation:
  key: About
  order: 3
---

On this site, you’ll find a selection of Leanne Fischler’s research and practice-based projects at the intersection of social research, design, and speculative futures.
Leanne is Community Energy Data and Digital Officer at Community Energy Scotland where she is developing and researching the role of data and digital systems in building fair and progressive community energy projects. Her work aims to help communities make data technologies work for them and the futures they want to build.
Leanne’s work includes theoretical and applied data processes to help co-create practices for community resilience and agency in a shifting technological landscape. Simultaneously, I carry out technical project activities such as data analysis; support data engineering; and code scripts that work with live data streams. 
Examples of projects I’ve been involved in include the rollout of a home energy monitoring program to encourage understanding of local energy consumption and fuel poverty. I have also contributed to a project collecting and analysing data from heat pumps; and contributed to a multi-island-group data exchange to empower decarbonisation.
You can find Leanne on Twitter at @leannefischler, on GitHub at _.

