---
title: "Creative Responses Leanne Fischler"
layout: "base.njk"
eleventyNavigation:
  key: Creative Responses
  parent: Work
  order: 1
---

<h2 class="projects__heading">Recent projects</h2>
<div class="project-list">
  {% asyncEach project in collections.projects %}
    {% include "project-card.njk" %}
  {% endeach %}
</div>